@import "tailwindcss";
@import "tw-animate-css";

:root {
	font-family: "Rubik", "Geist", system-ui, sans-serif;
	line-height: 1.5;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color-scheme: light;
	background-color: #f3f4f6;
	color: #000000;
}

html,
body {
	margin: 0;
	padding: 0;
}
